<!-- Academic qualification -->
<section id="education">
    <div class="inner-width">
      <h1 class="section-title">Education & Experiences</h1>
      <div class="time-line">
        <div class="block">
            <h4>2008 - 2013</h4>
            <h3>Shivam residential Public School</h3>
            <p>Schooling</p>
            <p>Marks98%</p>
            <p>Completed Schooling from CBSE</p>
        </div>
  
        <div class="block">
            <h4>2013 - 2016</h4>
            <h3>SPM College Udantpuri</h3>
            <p>High School</p>
            <p>Marks: 66%</p>
            <p>Completed High Schooling From State Board</p>
        </div>

        <div class="block">
            <h4>2016 - 2020</h4>
            <h3>Chandigarh University</h3>
            <p> Computer Science Engineering </p>
            <p>Marks: 65%</p>
            <p>Studied Computer Science Engineering From Chandigarh University</p>
        </div>  
          
      </div>
    </div>
</section>