<!-- Experience -->
<section id="education">
    <div class="inner-width">
      <h1 class="section-title"> PROFESSIONAL EXPERIENCES</h1>
      <div class="time-line">
        <div class="block">
            <h3>Cognizant Technology Solutions</h3>
            <p>Role : DevOps Engineer</p>
            <p>04/2021 - continue</p>
        </div>

        <div class="block">
            <h3>T-Systems ICT India Pvt Ltd </h3>
            <p>Role : Intern</p>
            <p>01/2020 - 06/2020</p>
        </div>  
      </div>
    </div>
</section>