<!--interpersonal-skills-->
<div class="grid-itemss">
    <h3>Interpersonal Skills</h3> <br>
    <p>
        <li>Adaptable</li> <br>
        <li>Team Player</li> <br>
        <li>Self-Motivated</li> <br>
        <li>Confident and Determined</li> <br>
        <li>Positive and liberal thinking</li> <br>
        <li>Helpful</li>
    </p>
</div>

<!--hobbies-interest-->
<div class="grid-itemss">
    <h3>Hobbies and interest</h3> <br>
    <p>
        <li>Sports and Fitness</li> <br>
        <li>Travelling and exploring.</li> <br>
        <li>Photography.</li> <br>
        <li>Listening to Music.</li> <br>
        <li>Learning new skills.</li> <br>
        <li>To interact with people to have the discussions on common issues.</li> <br>
    </p> 
</div>



<!--extra-curriculam-->
<div class="extra-curriculam Activities">
    <h3>Extra-curriculam</h3> <br>
    <p>
        <li>Participated in WAC fiesta in DTU on android development.</li> <br>
        <li>Join ethical hacking workshop conducted by tech-Kriti IEEE.</li> <br>
        <li>Got the Cyber Security Certificate by CyberOps for Participaring in Ethical Hacking.</li> <br>
        <li>Attended the workshop conducted by google Mobile developer fest (MDF).</li> <br>
        <li>Take part in programming events like code tantra, HackerRank, HackerEarth, techgig.</li> <br>
        <li>Participated in cultural fest like site decoration.</li> <br>
        <li>RunnerUp in 5 km of marathon twice.</li> <br>
        <li>Participated in Appathon Tech-Invent powered by google.</li> <br>
        <li>Attended the workshop of ethical hacking in Tech-Invent.</li> <br>
        <li>Participated in Alexa workshop conducted by amazon.</li> <br>
        <li>Sports person.</li> <br>
    </p>
</div>