<!--Projects Undertaken-->
<div class="projects-undertaken">
    <h3><u>Projects Undertaken</u></h3> <br>
    <table width="100%" border="1" cellspacing="2" cellpadding="2">
        <tr>
            <td style="color: red; font-size: 20px;"><strong>Project name</strong></td>
            <td style="color: red; font-size: 20px;"><strong>Technology Used</strong></td>
            <td style="color: red; font-size: 20px;"><strong>Description</strong></td>
        </tr>

        <tr>
            <td>Women Helplline</td>
            <td>JSP</td>
            <td>Helps the women in any problem like chain snaching or for any case of fir</td>
        </tr>
    
        <tr>
            <td>voice recognition System</td>
            <td>Python</td>
            <td>recognise your speech</td>
        </tr>
    
        <tr>
            <td>find tutor</td>
            <td>web development</td>
            <td>find teacher for student and student for teacher</td>
        </tr>
    
        <tr>
            <td>search engine</td>
            <td>machine learning</td>
            <td>it is basically a recommendition system</td>
        </tr>
    
        <tr>
            <td>Hello world</td>
            <td>IDE</td>
            <td>normal language</td>
        </tr>
    </table>
</div>