<header class="header">
    <a href="/" class="logo">logo</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
        <li>
            <a href="#"><i class="fa fa-home"><strong> Home </strong></i></a></li>
            <li><a href="#"><i class="fa fa-info-circle"> Help </i></a></li>
            <li><a href="#"><i class="fa fa-briefcase"> Job-Article </i></a></li>
            <li><a href="#"><i class="fa fa-user"> Login/Signup </i></a></li>
            <li><a href="#"><i class="fa fa-user"> contacts </i></a>
        </li>               
    </ul>
</header>