<nav class="fixed-nav-bar">                    
    <span class="nav" style="padding-top: 25px;">
        <ul>
            <li><a href="#"><i class="fa fa-logo"><strong> Logo </strong></i></a></li>
            <li><a href="#"><i class="fa fa-home"><strong> Home </strong></i></a></li>
            <li><a href="#"><i class="fa fa-info-circle"><strong> Help </strong></i></a></li>
            <li><a href="#"><i class="fa fa-briefcase"><strong> Job-Article </strong></i></a></li>
            <li><a href="#"><i class="fa fa-user"><strong> Login/Signup </strong></i></a></li>
            <li><a href="#app-contact"><i class="fa fa-user"><strong> contacts </strong></i></a></li>
        </ul>
    </span>
</nav>