




<!--skills-->
<div class="skills">
    <div class="grid-ite">        
        <h3> Future Plans </h3>  <br>
        <p>
            <li>Want to be a traveller to explore the nature.</li>
            <li>want to be a experience provider to save someone's time because time is precious.</li>
            <li>want to be a vlogger.</li>
        </p> 
    </div>

    <div class="grid-ite">
        <h3> The other skills that i have are: </h3> <br>
        <ul>
            <li>Driving car</li>
            <li>Riding Bike</li>
            <li>Photography</li>
            <li>video/photo editing</li>
            <li>guitar</li>
            <li>Listening music</li>
            <li>Travelling</li>
            <li>Fitness</li>
            <li>Technical knowledge</li>
            <li>Typeing</li> <br><br>
        </ul>
    </div>

    <div class="grid-ite">
        <h3> In Sports: </h3> <br>
        <ul>
            <li>Table tennis</li>
            <li>fussball</li>
            <li>Badmintion</li>
            <li>vollyball</li>
            <li>Cricket</li>
        </ul> <br><br>
    </div>
</div>
