<div class="skills-section">
    <h1><u>Skills</u></h1>
    <div class="skills-container">
        <div class="skill-box">git</div>
        <div class="skill-box">github</div>
        <div class="skill-box">docker</div>
        <div class="skill-box">docker Container</div>
        <div class="skill-box">kubernetes</div>
        <div class="skill-box">Jenkins</div>
        <div class="skill-box">Terraform</div>
        <div class="skill-box">Ansible</div>
        <div class="skill-box">DevOps</div>
        <div class="skill-box">Cloud - AWS, Azure, GCP</div>
        <div class="skill-box">Scripting - Shell, Bash</div>
        <div class="skill-box">Linux</div>
        <div class="skill-box">Nginx</div>
        <div class="skill-box">PM2</div>
    </div>
</div> <br><br><br><br>